body {
  font-family: 'Lucida Grande','Segoe UI', 'Open Sans', sans-serif;
}

.user-input,
.counting-stage,
.counted {
  display: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 54px;
  width: 100%;
  text-align: center;
  background-color: darkslategrey;
  color: aliceblue;
}

h1 {
  padding: 0;
  margin: 0;
}

main {
  position: absolute;
  top: 54px;
  left: 153px;
  width: 494px;
}